.gineco{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 5px 15px;
        border-bottom: 1px solid lighten($theme-color, 30);

        &-container{
            display: flex;

            &__icon{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-end;
                padding-right: 20px;

                &-ico{
                    font-size: 25px;
                    color: darken($text-color,30);
                }
            }

            &__tit{
                color: $theme-color;
                font-size: 2em;
            }
        }
    }

    &__form{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 30px 0;

        &-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            width: 650px;

            .div{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            &__item{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 48%;

                &-wrap:not(:last-child){
                    border-bottom: 1px solid lighten($theme-color, 15);
                }

                &-wrap{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 10px;
                    padding-bottom: 10px;

                    &__desc{
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        width:45%;
                    }
                    .ivsaDesc{
                        width: 75%;
                    }
                    .vph{
                        width: 80%;
                    }
                    .vphSelect{
                        width: 80%;
                        align-self: flex-end;
                    }
                    .txtA{
                        width: 235% !important;
                        right: 135%;
                    }

                    &__response{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        width: 52%;

                        input, select{
                            width: 100%;
                        }
                        textarea{
                            position: relative;
                            right: 80%;
                            width: 180%;
                            height: 80px;
                        }
                    }
                    .ivsaRes{
                        width: 22%;
                    }
                }
                .planFam{
                    display: flex;
                    flex-direction: column;
                    div{
                        width: 100%;

                        textarea{
                            margin-top: 5px;
                            width: 95%;
                            right: -5%;
                        }
                    }
                }
            }
        }
    }
}

.msjError{
    width: 200px;
    height: 40px;
    background-color: #fffffe;
    border: 1px solid lightgray;
    margin-top: 7px;
    margin-left: 40%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 300;
    box-shadow: -.5px .5px 1px lightgray;
    &:before{
        content:"";
        display: inline-block;
        position: absolute;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-top: 5px solid transparent;
        border-bottom: 5px solid lighten(gray, 30);
        top:-10px;
        left: 8px;
    }
    i{
        color: orange;
    }
    .msj{
        color: #101010;
    }
}
